body{
    background-color: rgba(13,237,255,0.81);
    font-family: Times New Roman serif;
    font-size: 20px;
}

button{
    width: 80px;
    padding: 2px;
    font-family: Times New Roman serif;
    font-size: 20px;
    background-color: rgba(249,149,255,0.81);
    border-radius: 5px;
    border-color: black;
    border-collapse: collapse;
}

h2{
    font-size: 20px;
    font-family: cursive;
}

p{
    font-size: 20px;
    font-family: cursive;
}

#banner_section{
    text-align: center;
    justify-content: center;
}