<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<!--Create a simple webpage:-->
<!--o-->
<!--The webpage should include a heading, a paragraph, and a styled button.-->
<!--o-->
<!--Use an external CSS file to style the elements.-->
    <h2>My Website</h2>

    <!--Top banner section-->
    <section id="banner_section">
        <button>Home</button>
    </section>


    <!--Body section-->
    <section id="body_section">
        <p>This is a simple webpage</p>
        <img src="../static/images/code3.jpeg" alt="my image" width="200" height="200">
        <p></p>
    </section>
</body>
</html>